*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: blueviolet;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.menu{
    width: 900px;
    display: flex;
    justify-content: space-between;
    
}
.links{
    display: flex;
    gap: 20px;
}
.hero-container{
    background-color: skyblue;
    display: flex;
    justify-content: center;
}
.hero{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}
.image-container{
    display: flex;
    justify-content: center;
}
.images{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}